<div class="container">
  <div>
    <a href="index.html" class="logo">D'PERFUME</a>
    <p>© 2020. All Rights Reserved.</p>
  </div>
  <ul class="nav">
    <li class="nav-item"><a href="product.html">Product</a></li>
    <li class="nav-item"><a href="#">Blog</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>
</div>