<nav class="bg-primary navbar navbar-expand-md py-6">
  <div class="container">
    <a href="index.html" class="logo logo-light">D'PERFUME</a>
    <p class="fs-14 fw-medium text-white">© 2020. All Rights Reserved.</p>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="product.html" >Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>