<nav class="bg-primary navbar navbar-expand-md py-6">
  <div class="container text-white">
    <a href="index.html" class="logo logo-light">D'PERFUME</a>
    <p class="fs-14 fw-medium mb-0 ms-md-6">© 2020. All Rights Reserved.</p>
    <div class="collapse navbar-collapse d-none" id="navbarNav">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a class="bottom-nav nav-link" href="product.html" >Product</a>
        </li>
        <li class="nav-item">
          <a class="bottom-nav nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="bottom-nav nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>