<nav class="navbar navbar-expand-md navbar-light">
  <div class="container justify-content-md-between">
    <a href="index.html" class="navbar-brand logo">D'PERFUME</a>
    <a href="#" class="text-secondary position-relative ms-auto me-3 d-md-none">
      <span class="material-icons">shopping_cart</span>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
        3
        <span class="visually-hidden">carts products</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-md-auto collapse navbar-collapse position-absolute end-0 w-100 fs-5" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="product.html" class="top-nav nav-link text-secondary text-center"><span
              class="material-icons d-none d-md-inline-block">store</span>Product</a>
        </li>
        <li class="nav-item order-5 order-md-0">
          <a href="login.html" class="top-nav nav-link text-secondary text-center border-bottom-0"><span
              class="material-icons d-none d-md-inline-block  ">person</span>log&nbsp;in</a>
        </li>
        <li class="nav-item">
          <a href="#" class="top-nav nav-link text-secondary text-center"><span
              class="material-icons d-none d-md-inline-block">favorite</span>Wishlist</a>
        </li>
        <li class="nav-item d-md-none">
          <a href="#" class="top-nav nav-link text-secondary text-center">Blog</a>
        </li>
        <li class="nav-item d-md-none">
          <a href="#" class="top-nav nav-link text-secondary text-center">Contact</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a href="#" class="top-nav nav-link text-secondary text-center"><span
              class="material-icons d-md-inline-block">shopping_cart</span>Cart(3)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>