<div class="container">
  <h1><a href="index.html" class="logo">D'PERFUME</a></h1>
  <ul class="nav">
    <li class="nav-item"><a href="product.html">Product</a></li>
    <li class="nav-item"><a href="login.html">log in</a></li>
    <li class="nav-item"><a href="#">Wishlist</a></li>
    <li class="nav-item"><a href="#">Cart(3)</a></li>
  </ul>
</div>