<div class="container">
  <h1><a href="index.html" class="logo">D'PERFUME</a></h1>
  <ul class="nav">
    <li class="nav-item"><a href="product.html"><span class="material-icons">store</span>Product</a></li>
    <li class="nav-item"><a href="login.html"><span class="material-icons">person</span>log in</a></li>
    <li class="nav-item"><a href="#"><span class="material-icons">favorite</span>Wishlist</a></li>
    <li class="nav-item"><a href="#"><span class="material-icons">shopping_cart</span>Cart(3)</a></li>
  </ul>
</div>