<div class="bg-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class= "mb-6 mb-md-6 text-secondary fw-semibold">記得<br>訂閱以獲取更多資訊！</h2>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2"></input>
          <button class="btn btn-primary rounded-end px-4" type="button" id="button-addon2">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>