img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  &.nav-link {
    color: var(--bs-secondary);
  }
}
.card {
  border: none;
  .list-group-item {
    border: none;
  }
}
//自製元件
.logo {
  background: url(../images/d’Perfume.png);
  width: 128px;
  height: auto;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
