img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  .material-icons {
    vertical-align: top;
  }
  &:hover {
    color: var(--bs-primary-light) !important;
  }
}
.card {
  border: none;
  .list-group-item {
    border: none;
  }
}
.fw-medium {
  font-weight: 500 !important;
}
.mb-6 {
  margin-bottom: 2.5rem;
}