.navbar {
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  .navbar-collapse {
    @media (max-width: 767px) {
      top: 56px;
    }
    .top-nav {
      padding: 0 15px;
      @media (max-width: 767px) {
        color: var(--bs-white) !important;
        background: var(--bs-gray-dark);
        border-bottom: 1px solid var(--bs-white);
        padding: 13px 0;
        &:hover {
          background: var(--bs-secondary);
        }
      }
    }
  }
}
//自製元件
.logo {
  background: url(../images/d’Perfume.png);
  width: 128px;
  height: 38px;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  &.logo-light {
    background: url(../images/d’Perfumewhite.png);
  }
}
// subscribe-block
.bg-subscribe {
  background: url(../images/index10.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 312px 0 112px;
}

.fs-14 {
  font-size: 14px;
}