.bg-banner {
  background: url(../images/index1.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 135px;
  @media (min-width: 767px) {
    padding: 295px 0;
    background-position: center;
  }
}
.btn-show {
  width: 100%;
  font-size: 28px;
  padding: 9px 0;
  @media (min-width: 768px) {
    width: 78.65%;
  }
}
// modile 圖片設定
.card-img-top {
  object-fit: cover; // 圖片填滿區塊
  &.h-350 {
    height: 350px;
    @media (min-width: 768px) {
      height: 555px;
    }
    &.h-md-540 {
      @media (min-width: 768px) {
    height: 540px;
      }
    }
  }
  &.h-520 {
    height: 520px;
  }
  &.h-680 {
    height: 680px;
    @media (min-width: 768px) {
      height: 1080px;
    }
  }

  &.position-20-20 {
    object-position: 20% 20%; // 調整到適當位置
  }
  &.position-50-90 {
    object-position: 50% 90%;
  }
}
// sold-out 遮罩
.sold-out {
  font-size: 24px;
  font-weight: 600;
  color: var(--bs-white);
  &:before {
    content: "Sold out";
    position: absolute;
    background: rgba(var(--bs-black-rgb), 0.3);
    width: 100%;
    padding: 157px 0;
    text-align: center;
    @media (min-width: 767px) {
      padding: 252px 0;
    }
  }
}