<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-banner mb-7">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-5 ms-md-auto">
            <h1>Perfume your day</h1>
            <p class="h5 fw-normal pb-3">A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
            <a class="btn-show h3 btn btn-outline-light" href="./product.html">Shop now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-7">
      <div class="row row-cols-1 gy-6 g-md-0">
        <div class="card">
          <div class="row flex-md-row-reverse">
            <div class="col-md-6 ps-md-0">
              <img src="../assets/images/index2.jpg" alt="index-product-1" class="h-350 position-20-20 card-img-top">
            </div>
            <div class="col-md-4 d-md-flex align-items-md-center mx-md-auto">
              <div class="card-body">
                <h2 class="card-title ">Gabrielle CHANEL</h2>
                <p class="card-text fs-5">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
                <a href="#" class="card-link fw-semibold">查看更多</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-md-6 pe-md-0">
              <img src="../assets/images/index3.png" alt="index-product-2" class="h-350 position-20-2 card-img-top">
            </div>
            <div class="col-md-4 d-md-flex align-items-md-center mx-md-auto">
              <div class="card-body">
                <h2 class="card-title ">Five O’clock Au Gingembre</h2>
                <p class="card-text fs-5">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
                <a href="#" class="card-link fw-semibold">查看更多</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row flex-md-row-reverse">
            <div class="col-md-6 ps-md-0">
              <img src="../assets/images/index4.jpg" alt="index-product-3" class="h-350 position-20-20 card-img-top">
            </div>
            <div class="col-md-4 d-md-flex align-items-md-center mx-md-auto">
              <div class="card-body">
                <h2 class="card-title ">CHANEL N°5</h2>
                <p class="card-text fs-5">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
                <a href="#" class="card-link fw-semibold">查看更多</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-md-6 pe-md-0"><img src="../assets/images/index5.jpg" alt="index-product-slim" class="card-img-top h-680"></div>
            <div class="col-md-4 d-md-flex align-items-md-center mx-md-auto">
              <div class="card-body">
                <ol class="list-group list-group-numbered h4 fw-semibold  mb-md-2">
                  <li class="list-group-item p-0 mb-6">
                    <h4 class="card-title fw-semibold mb-1">Levels of Preventive Maintenance Compliance</h4>
                    <p class="card-text">The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
                  </li>
                  <li class="list-group-item p-0 mb-6">
                    <h4 class="card-title fw-semibold mb-1">Percentage of Planned Maintenance</h4>
                    <p class="card-text">The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
                  </li>
                  <li class="list-group-item p-0 mb-6">
                    <h4 class="card-title fw-semibold mb-1">Critical percentage of planned maintenance</h4>
                    <p class="card-text">Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
                  </li>
                </ol>
                <button type="button" class="btn btn-outline-dark w-100 fs-5" style="padding: 15px 0">Plan a free online training</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light py-7 mb-7">
      <div class="container pb-1">
        <div class="row flec-column gy-6">
          <div class="col-md-4">
            <div class="card bg-light">
              <img src="../assets/images/index6.jpg" alt="poppy-and-barley" class="h-350 h-md-540 position-50-90 card-img-top mb-md-2">
              <div class="card-bodyt">
                <h3 class="card-title h4 fw-semibold">Poppy & Barley</h3>
                <h4 class="card-subtitle fw-light mb-1 mb-md-3 h6">Jo Malone</h4>
                <p class="card-text">NT$1,380<span class="on-sale">NT$1,580</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light">
              <img src="../assets/images/index7.jpg" alt="body-wash" class="h-350 h-md-540 position-50-90 card-img-top mb-md-2">
              <div class="card-bodyt">
                <h3 class="card-title h4 fw-semibold">Body Wash</h3>
                <h4 class="card-subtitle fw-light mb-1 mb-md-3 h6">Curology</h4>
                <p class="card-text">NT$1,580</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 pb-1">
            <div class="card bg-light">
              <div class="sold-out">
                <img src="../assets/images/index8.jpg" alt="apple-cider-vinegar-capsule" class="h-350 h-md-540  card-img-top mb-md-2">
              </div>
              <div class="card-bodyt">
                <h3 class="card-title h4 fw-semibold">Apple Cider Vinegar Capsule</h3>
                <h4 class="card-subtitle fw-light mb-1 mb-md-3 h6">Tonik</h4>
                <p class="card-text">NT$1,580 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-7">
      <div class="card">
        <div class="row">
          <div class="col-md-8">
            <img src="../assets/images/index9.jpg" alt="bottle-recycling" class="h-520 card-img-top">
          </div>
          <div class="col-md-4 d-md-flex align-items-md-center mx-md-auto">
            <div class="card-body">
              <h4 class="card-title h2">Bottle-Recycling</h4>
              <h5 class="subtitle fw-light mb-2 mb-md-3">Recycle your used empty bottles and be rewarded!</h5>
              <p class="card-text fs-6">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
              <a href="#" class="card-link fw-semibold">查看更多</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/subscribe-block') -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
