<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品頁面</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/perfumers-bar') -%>

    <div class="container mt-7 mb-7">
      <div class="products-list row row-cols-2 gy-7 row-cols-md-4">
        <div class="col">
          <div class="card">
            <img src="../assets/images/products1.jpg" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/index6.jpg" alt="prodcut-1" class="h-165 position-bottom mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products3.jpg" alt="prodcut-1" class="h-165 position-50-30 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products4.jpg" alt="prodcut-1" class="h-165 position-50-30 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products5.jpg" alt="prodcut-1" class="h-165 position-50-30 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/index4.jpg" alt="prodcut-1" class="h-165 position-left mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products7.jpg" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products8.jpg" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/index3.png" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products10.jpg" alt="prodcut-1" class="h-165 position-50-30 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products11.jpg" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/images/products12.jpg" alt="prodcut-1" class="h-165 mb-8 card-img-top">
            <div class="card-body">
              <h2 class="mb-8 card-title h5 fw-semibold">Poppy & Barley</h2>
              <h3 class="card-subtitle h6">Jo Malone</h3>
              <p class="fw-light mb-0">NT$1,380<span class="ms-2 text-secondary text-decoration-line-through">NT$1,580</span></p>
            </div>
            <div>
              <a href="#"><span class="material-icons">favorite</span></a>
              <a href="#" class="ms-2"><span class="material-icons">shopping_cart</span></a>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
        </ul>
      </nav>
    </div>
    
    <%- include('./layout/subscribe-block') -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
